workflows/google-tasks-sync-status.json
{
  "name": "Google Tasks Status Sync",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      }
    },
    {
      "id": "get-synced-tasks",
      "name": "Get Synced Tasks",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [220, 300],
      "parameters": {
        "operation": "getAll",
        "tableId": "jeff_google_tasks_sync",
        "returnAll": true,
        "filterType": "string",
        "filterString": "sync_status=eq.synced"
      },
      "credentials": {
        "supabaseApi": {
          "id": "HtfdX00X8v7ebxlb",
          "name": "Supabase L7 Cloud"
        }
      }
    },
    {
      "id": "check-google-status",
      "name": "Check Google Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "=https://tasks.googleapis.com/tasks/v1/lists/{{ $json.google_list_id }}/tasks/{{ $json.google_task_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleTasksOAuth2Api",
        "options": { "timeout": 10000 }
      },
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "eslbS4vLRH5FXzuN",
          "name": "Google Tasks JGL"
        }
      }
    },
    {
      "id": "determine-action",
      "name": "Determine Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const syncData = $('Get Synced Tasks').item.json;\n  const googleResponse = item.json;\n  \n  // HTTP 404 = task deleted in Google\n  if (googleResponse.error || googleResponse.statusCode === 404) {\n    results.push({ json: { ...syncData, action: 'delete', reason: 'Task deleted from Google Tasks' } });\n  }\n  // Task completed in Google\n  else if (googleResponse.status === 'completed') {\n    results.push({ json: { ...syncData, action: 'complete', reason: 'Task completed in Google Tasks' } });\n  }\n  // Still active - no action needed\n  else {\n    results.push({ json: { ...syncData, action: 'none' } });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "filter-actions",
      "name": "Needs Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "route-action",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1100, 300],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "complete",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "complete",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputKey": "delete",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "mark-task-complete",
      "name": "Mark Task Complete in DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, 200],
      "parameters": {
        "operation": "update",
        "tableId": "jeff_tasks",
        "matchType": "id",
        "id": "={{ $json.jeff_task_id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "status", "fieldValue": "completed" },
            { "fieldName": "kanban_column", "fieldValue": "done" },
            { "fieldName": "completed_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "HtfdX00X8v7ebxlb",
          "name": "Supabase L7 Cloud"
        }
      }
    },
    {
      "id": "update-sync-completed",
      "name": "Update Sync (Completed)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1540, 200],
      "parameters": {
        "operation": "update",
        "tableId": "jeff_google_tasks_sync",
        "matchType": "id",
        "id": "={{ $('Route Action').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "sync_status", "fieldValue": "completed" },
            { "fieldName": "last_synced_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "HtfdX00X8v7ebxlb",
          "name": "Supabase L7 Cloud"
        }
      }
    },
    {
      "id": "mark-task-deleted",
      "name": "Mark Task Deleted in DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, 400],
      "parameters": {
        "operation": "update",
        "tableId": "jeff_tasks",
        "matchType": "id",
        "id": "={{ $json.jeff_task_id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "status", "fieldValue": "cancelled" },
            { "fieldName": "kanban_column", "fieldValue": "done" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "HtfdX00X8v7ebxlb",
          "name": "Supabase L7 Cloud"
        }
      }
    },
    {
      "id": "update-sync-deleted",
      "name": "Update Sync (Deleted)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1540, 400],
      "parameters": {
        "operation": "update",
        "tableId": "jeff_google_tasks_sync",
        "matchType": "id",
        "id": "={{ $('Route Action').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "sync_status", "fieldValue": "deleted" },
            { "fieldName": "last_synced_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "HtfdX00X8v7ebxlb",
          "name": "Supabase L7 Cloud"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [{ "node": "Get Synced Tasks", "type": "main", "index": 0 }]
      ]
    },
    "Get Synced Tasks": {
      "main": [
        [{ "node": "Check Google Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Google Status": {
      "main": [
        [{ "node": "Determine Action", "type": "main", "index": 0 }]
      ]
    },
    "Determine Action": {
      "main": [
        [{ "node": "Needs Update?", "type": "main", "index": 0 }]
      ]
    },
    "Needs Update?": {
      "main": [
        [{ "node": "Route Action", "type": "main", "index": 0 }],
        []
      ]
    },
    "Route Action": {
      "main": [
        [{ "node": "Mark Task Complete in DB", "type": "main", "index": 0 }],
        [{ "node": "Mark Task Deleted in DB", "type": "main", "index": 0 }]
      ]
    },
    "Mark Task Complete in DB": {
      "main": [
        [{ "node": "Update Sync (Completed)", "type": "main", "index": 0 }]
      ]
    },
    "Mark Task Deleted in DB": {
      "main": [
        [{ "node": "Update Sync (Deleted)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "timezone": "America/New_York"
  }
}
