workflows/pdf-to-supabase-complete.json
{
  "name": "PDF to Supabase (Vector Store) - Complete",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Documents to Vector Store",
        "formDescription": "Upload PDF documents to add to the Supabase vector knowledge base",
        "formFields": {
          "values": [
            {
              "fieldLabel": "pdf_file",
              "fieldType": "file",
              "requiredField": true,
              "acceptFileTypes": ".pdf"
            },
            {
              "fieldLabel": "project",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "l7-partners" },
                  { "option": "probis" },
                  { "option": "jgl-capital" }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "form-trigger",
      "name": "Upload PDF Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [0, 0],
      "webhookId": "pdf-to-supabase-form"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-upload-api",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-api",
      "name": "API Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "webhookId": "pdf-upload-api"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "extract-pdf",
      "name": "Extract PDF Content",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [208, 0]
    },
    {
      "parameters": {
        "jsCode": "// Intelligent chunking with overlap\nconst text = $input.first().json.data || $input.first().json.text || '';\n\n// Get project from query params or default\nlet project = 'l7-partners';\ntry {\n  const webhookData = $('API Upload Webhook').first();\n  if (webhookData?.json?.query?.project) {\n    project = webhookData.json.query.project;\n  }\n} catch (e) {\n  // Form trigger path\n  try {\n    const formData = $('Upload PDF Form').first();\n    if (formData?.json?.project) {\n      project = formData.json.project;\n    }\n  } catch (e2) {}\n}\n\nconst fileName = $input.first().binary?.data?.fileName || 'document.pdf';\n\nif (!text || text.length < 50) {\n  console.log('No content found in PDF');\n  return [];\n}\n\nconst CHUNK_SIZE = 1200;\n\nfunction intelligentChunk(content) {\n  if (content.length <= CHUNK_SIZE) {\n    return [content];\n  }\n  \n  const chunks = [];\n  const paragraphs = content.split(/\\n\\s*\\n/);\n  let currentChunk = '';\n  \n  for (const paragraph of paragraphs) {\n    const trimmedPara = paragraph.trim();\n    if (!trimmedPara) continue;\n    \n    if ((currentChunk + trimmedPara).length > CHUNK_SIZE && currentChunk) {\n      chunks.push(currentChunk.trim());\n      const sentences = currentChunk.split(/[.!?]+\\s+/);\n      const overlapSentences = sentences.slice(-2).join('. ');\n      currentChunk = overlapSentences + (overlapSentences ? '. ' : '') + trimmedPara;\n    } else {\n      currentChunk += (currentChunk ? '\\n\\n' : '') + trimmedPara;\n    }\n  }\n  \n  if (currentChunk.trim()) {\n    chunks.push(currentChunk.trim());\n  }\n  \n  return chunks.filter(chunk => chunk.trim().length > 50);\n}\n\nconst chunks = intelligentChunk(text);\nconsole.log(`Created ${chunks.length} chunks for ${fileName}`);\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    content: chunk,\n    source_name: fileName,\n    source_type: 'pdf',\n    project: project,\n    chunk_index: index,\n    total_chunks: chunks.length,\n    doc_metadata: {\n      original_filename: fileName,\n      chunked_at: new Date().toISOString(),\n      chunk_size: chunk.length\n    }\n  }\n}));"
      },
      "id": "chunk-text",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'text-embedding-ada-002', input: $json.content }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [608, 0]
    },
    {
      "parameters": {
        "jsCode": "// Combine chunk data with embedding\nconst chunkData = $('Chunk Text').item.json;\nconst embeddingResponse = $input.first().json;\nconst embedding = embeddingResponse.data?.[0]?.embedding || null;\n\nif (!embedding) {\n  console.log('No embedding generated');\n  return [{ json: { error: 'No embedding', chunk: chunkData } }];\n}\n\nreturn [{\n  json: {\n    content: chunkData.content,\n    embedding: embedding,\n    source_name: chunkData.source_name,\n    source_type: chunkData.source_type,\n    project: chunkData.project,\n    chunk_index: chunkData.chunk_index,\n    doc_metadata: chunkData.doc_metadata\n  }\n}];"
      },
      "id": "combine-data",
      "name": "Combine Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://donnmhbwhpjlmpnwgdqr.supabase.co/rest/v1/document_embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "insert-supabase",
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1008, 0]
    },
    {
      "parameters": {
        "jsCode": "// Processing summary\nconst items = $input.all();\nconst successful = items.filter(i => i.json.id || (Array.isArray(i.json) && i.json[0]?.id)).length;\nlet fileName = 'unknown';\ntry {\n  fileName = $('Chunk Text').first().json.source_name;\n} catch(e) {}\n\nreturn [{\n  json: {\n    summary: {\n      status: 'complete',\n      file: fileName,\n      total_chunks: items.length,\n      successful_inserts: successful,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "summary",
      "name": "Processing Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "Upload PDF Form": {
      "main": [[{"node": "Extract PDF Content", "type": "main", "index": 0}]]
    },
    "API Upload Webhook": {
      "main": [[{"node": "Extract PDF Content", "type": "main", "index": 0}]]
    },
    "Extract PDF Content": {
      "main": [[{"node": "Chunk Text", "type": "main", "index": 0}]]
    },
    "Chunk Text": {
      "main": [[{"node": "Generate Embedding", "type": "main", "index": 0}]]
    },
    "Generate Embedding": {
      "main": [[{"node": "Combine Data", "type": "main", "index": 0}]]
    },
    "Combine Data": {
      "main": [[{"node": "Insert to Supabase", "type": "main", "index": 0}]]
    },
    "Insert to Supabase": {
      "main": [[{"node": "Processing Summary", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
