workflows/pdf-to-supabase.json
{
  "name": "PDF to Supabase (Vector Store)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-to-supabase",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "pdf-to-supabase"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.fileId }}"
      },
      "id": "gdrive_download",
      "name": "Download from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive L7"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractFromFile",
        "options": {}
      },
      "id": "extract_pdf",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Chunk the extracted text\nconst text = $input.first().json.data || $input.first().json.text || '';\nconst filename = $('Webhook').first().json.fileName || 'unknown.pdf';\nconst fileId = $('Webhook').first().json.fileId || '';\nconst project = $('Webhook').first().json.project || 'l7-partners';\n\n// Chunk settings\nconst CHUNK_SIZE = 1000;  // characters\nconst OVERLAP = 200;\n\nconst chunks = [];\nlet start = 0;\nlet chunkIndex = 0;\n\nwhile (start < text.length) {\n  const end = Math.min(start + CHUNK_SIZE, text.length);\n  const chunk = text.slice(start, end);\n  \n  if (chunk.trim().length > 50) {  // Skip tiny chunks\n    chunks.push({\n      json: {\n        content: chunk,\n        filename: filename,\n        fileId: fileId,\n        project: project,\n        chunkIndex: chunkIndex,\n        totalChunks: Math.ceil(text.length / (CHUNK_SIZE - OVERLAP))\n      }\n    });\n    chunkIndex++;\n  }\n  \n  start += CHUNK_SIZE - OVERLAP;\n}\n\nreturn chunks;"
      },
      "id": "chunk_text",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "text": "={{ $json.content }}"
      },
      "id": "openai_embed",
      "name": "Generate Embedding",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "documents",
        "columns": "title,file_name,file_url,project,gdrive_file_id,processing_status",
        "options": {
          "returnFields": ["id"]
        }
      },
      "id": "insert_doc",
      "name": "Insert Document (First Chunk Only)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 150],
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase L7"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "document_embeddings",
        "columns": "content,embedding,source_name,source_type,project,chunk_index,document_id"
      },
      "id": "insert_embedding",
      "name": "Insert Embedding",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase L7"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "documents",
        "matchingColumns": ["id"],
        "columns": "processing_status"
      },
      "id": "update_status",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase L7"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Download from Drive", "type": "main", "index": 0}]]
    },
    "Download from Drive": {
      "main": [[{"node": "Extract PDF Text", "type": "main", "index": 0}]]
    },
    "Extract PDF Text": {
      "main": [[{"node": "Chunk Text", "type": "main", "index": 0}]]
    },
    "Chunk Text": {
      "main": [
        [
          {"node": "Insert Document (First Chunk Only)", "type": "main", "index": 0},
          {"node": "Generate Embedding", "type": "main", "index": 0}
        ]
      ]
    },
    "Generate Embedding": {
      "main": [[{"node": "Insert Embedding", "type": "main", "index": 0}]]
    },
    "Insert Embedding": {
      "main": [[{"node": "Mark Complete", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
